<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MazeGameEnhanced - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MazeGameEnhanced - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MazeGameEnhancedEditor - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UE4CmdLineRun 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UE4CmdLineRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UE4Editor - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UE4Game - Mac 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UE4Game - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UE4Game - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UE4XcodeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BE260A16A0CE7F35958E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D7F5FA0216AC6226A1280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076F2B0B7A3C8156B64CDC81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B10EDE3DACF141FA264895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A57C5B25B00FA4FA5E4857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A643E93FEA45CE26754695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140E7939346D7B526D616B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BFAB2607181942F62E658FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F82B301152A8440F3511FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218920EFE04144E374789075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FC515F02F02C47BA7CA1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A72D5FA3E9427667A8831D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C15D57593E70AEEFE33308F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC8E8890C6C09D77D4988E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AA4E8A638EB0BCB9F8652DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA558753C1C1DF0EC41C5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E4AABE44FF34061FAA59C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0AEEB6388CDD35C5F225B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C54D6E25F988E611BE8773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5634D7BFB487A1507E061DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56D4031E8E54F84FF7628E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB3AEDF0F0408C9A0FB2497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6738E7EFDB450C93FB7D85E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71665C6627798BD8F3C6E09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DC17C10102D5469E9BFA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7789DDDFF9038CCB54ACB8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D688672D6A1BEC47AD88A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBEBEB590062C9C08543094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAAA87D36562B939314C3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7357E291811922B747401D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CDE48D40B698A0F88D6D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019536C54C69922637ED54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E848AE55E83181D29788A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF0E24254FFB89239EBE569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8981999AE121878D4F3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3B4E08A75695199A4B33E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93443B07DF671E8F5CE1937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2E49E2BEEF45A683AFFE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FB2861CD3BF4769C098E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C6D628DEF83BD3D40540F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8EC9B937AA320E7E6F9518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A58B9FE1E8B2B839D656C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFE753A5D76854B03D9AB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD3C2F60ABCDE99458E4453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F604080DA7621A6D933C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E1A5808E36F7D8122F6B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6EF6A347F66C43EB4952451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B0A48960FF79ABE56FC202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB48C4AFA9B49D5EF404E49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF81A1EF5F4BE60DB441AD13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
